[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
environs = "*"
databases = {extras = ["postgresql"], version = "*"}
users = {editable = true, path = "."}
psycopg2-binary = "*"
passlib = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.7"
