[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
secure = "*"
environs = "*"
sanic-envconfig = "*"
databases = {extras = ["postgresql"], version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
